---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(42) %}
<h2>Our list of {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} episodes{% endif %}</h2>

{% set postslist = collections.posts | head(-42) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
