---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "icon": "{{metadata.url}}/img/logo.png",
  "favicon": "{{metadata.url}}/img/icon.png",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
	  "summary": "{{ post.data.intro }}",
      "content_html": "<p>{{post.data.intro}}</p><p><a href=\"{{absolutePostUrl}}\">See the website for full audio and a complete transcript</a>.</p>",
      "date_published": "{{ post.date | rssDate }}",
	  "attachments": [
		  {
			  "url": "{{metadata.url}}{{post.data.audio}}",
			  "mime_type": "audio/mpeg",
			  "size_in_bytes": "{{post.data.audiolength}}",
			  "duration_in_seconds": "{{post.data.duration}}"
		  }
	  ]
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
