<!DOCTYPE html>

<html lang="en" id="html">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} — {{metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}" />
    {%- if head %}
    {{
      head | safe
    }}
    {%- endif %} {%- for href in csslinks -%}
    <link rel="stylesheet" href="{{ href | url }}?{{ [10000000,100000000] | getRandom }}" />
    {%- endfor %}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }} RSS Feed" />
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }} JSON Feed" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  </head>
  <body id="body" {% if episode %} class="episode{{ episode }}" {% endif %}>

    {{ content | safe }}

<nav>


  {%- set nextPost = collections.posts | getNextCollectionItem(page) %} {%- set
  previousPost = collections.posts | getPreviousCollectionItem(page) %} {%- if
  nextPost or previousPost %}

  <ul class="prevnext">
    {%- if nextPost %}
    <li class="next">
      <a href="{{ nextPost.url | url }}" accesskey="j">Next episode: {{ nextPost.data.title }}</a>
    </li>
    {% endif %} {%- if previousPost %}
    <li>
      <a href="{{ previousPost.url | url }}" accesskey="k">Previous episode: {{ previousPost.data.title }}</a>
    </li>
    {% endif %}
  </ul>
  {%- endif %}

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li>
      <a href="/feed/feed.xml"><abbr title="Real Symple Syndication"></abbr>RSS</abbr></a>
    </li>
    <li>
      <a href="/feed/feed.xml"><abbr title="JavaScript Object Notation">JSON</abbr></a>
    </li>
  </ul>
</nav>

    {%- if foot %}
    {{ foot | safe }}
    {%- endif %}
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
