<!doctype html>
<html lang="en" id="html">
<head id="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">
	{%- if head %}
	{{ head | safe }}
	{%- endif %}
	{%- for href in csslinks -%}
	<link rel="stylesheet" href="{{ href | url }}">
	{%- endfor %}
	<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }} RSS Feed">
	<link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }} JSON Feed">
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

</head>
<body id="body"{% if episode %} class="episode{{ episode }}"{% endif %}>

<header>
	<h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
</header>

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

	{{ content | safe }}
</main>

<footer id="context">
	<!-- <h2>Meta information</h2> -->
	<nav id="nav">
		<!-- <h2>Elsewhere on this website</h2> -->
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
   		</ul>
	</nav>
</footer>
	
{%- if foot %}
{{ foot | safe }}
{%- endif %}
<!-- Current page: {{ page.url | url }} -->
</body>
</html>
