---
layout: layouts/base-post.njk
templateClass: tmpl-post
---

{%- if styletoggle %}
<input aria-hidden="true" type="checkbox" id="letmeread" />
<label aria-hidden="true" for="letmeread">{{ styletoggle }}</label>
{%- endif %}
<p><a href="#context">Skip to navigation</a>
<p><a href="#why-does-this-page-look-like-this%3F">Why does this page look like this?</a></p>

<section class="episode-title">
  <h1>{{ title }}</h1>
  <footer>
    <p><a href="/">Web Materials</a></p>
    Episode {{ episode }} /
    <time datetime="{{ page.date | htmlDateString }}">{{
      page.date | readableDate
    }}</time>
  </footer>
</section>

<section class="episode-intro">
  <p class="para">{{ intro | safe }}</p>
  <h2>Play episode:</h2>


{%- if audio %}
  <div class="episode-player">
    <audio src="{{ audio }}" controls></audio>
  </div>
{%- endif %}
</section>

<section class="episode-shownotes">
  <h2>Shownotes</h2>
  <ul>
    {% for shownotes in shownotes %}
    <li>{{ shownotes | safe }}</li>
    {% endfor %}
  </ul>
</section>

{{ content | safe }}

<section class="episode-links">
  <div class="tags">
    {%- for tag in tags | filterTagList -%} {%- set tagUrl %}/tags/{{
      tag | slug
    }}/{% endset -%}
    <!-- <a href="{{ tagUrl | url }}">{{ tag }}</a> -->
    {%- endfor %}
  </div>

  {%- set nextPost = collections.posts | getNextCollectionItem(page) %} {%- set
  previousPost = collections.posts | getPreviousCollectionItem(page) %} {%- if
  nextPost or previousPost %}

  <ul class="prevnext" id="nav">
    {%- if nextPost %}
    <li class="next">
      <a href="{{ nextPost.url | url }}" accesskey="j"
        >Episode {{ nextPost.data.episode }}: {{ nextPost.data.title }}</a
      >
    </li>
    {% endif %} {%- if previousPost %}
    <li>
      <a href="{{ previousPost.url | url }}" accesskey="k">{{
        previousPost.data.title
      }}</a>
    </li>
    {% endif %}
  </ul>
  {%- endif %}
</section>
