---
layout: layouts/base-post-no-footer.njk
templateClass: tmpl-post
---

{%- if styletoggle %}
<input aria-hidden="true" type="checkbox" id="letmeread" />
<label aria-hidden="true" for="letmeread">{{ styletoggle }}</label>
{%- endif %}

<section class="episode-title">
  <div class="content">
    <h1>{{ title }}</h1>
    <div class="meta">
      <h3><a href="/">Web Materials</a></h3>
      <h3>Episode {{ episode }} /
      <time datetime="{{ page.date | htmlDateString }}">{{
        page.date | readableDate
      }}</time></h3>
    </div>
      {%- if audio %}
        <section class="episode-player">
          <audio src="{{ audio }}" controls></audio>
        </section>
      {%- endif %}
    </div>
  </div>
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="left"></div>
  <div class="right"></div>
</section>

<div class="episode-content">
  <div class="content">
    <section class="episode-intro">
      <p class="para">{{ intro | safe }}</p>
    </section>

    <section class="episode-shownotes">
      <h3>Shownotes:</h3>
      <h3><ul>
        {% for shownotes in shownotes %}
        <li>{{ shownotes | safe }}</li>
        {% endfor %}
      </ul></h3>
    </section>

    {{ content | safe }}

    <section class="episode-links">
      <div class="tags">
        {%- for tag in tags | filterTagList -%} {%- set tagUrl %}/tags/{{
          tag | slug
        }}/{% endset -%}
        <!-- <a href="{{ tagUrl | url }}">{{ tag }}</a> -->
        {%- endfor %}
      </div>

      {%- set nextPost = collections.posts | getNextCollectionItem(page) %} {%- set
      previousPost = collections.posts | getPreviousCollectionItem(page) %} {%- if
      nextPost or previousPost %}

      <ul class="prevnext">
        {%- if nextPost %}
        <li class="next">
          <a href="{{ nextPost.url | url }}" accesskey="j"
            >Episode {{ nextPost.data.episode }}: {{ nextPost.data.title }}</a
          >
        </li>
        {% endif %} {%- if previousPost %}
        <h2>Previous episode:</h2>
        <h3><li>
          <a href="{{ previousPost.url | url }}" accesskey="k">{{
            previousPost.data.title
          }}</a>
        </li></h3>
        {% endif %}
      </ul>
      {%- endif %}
    </section>

    <footer id="context" class="episode-footer">
          <a href="{{ '/' | url }}" class="logo" id="home">
            <svg
              viewBox="0 0 433 206"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title id="logoTitle">{{ metadata.title }}</title>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M14.7256 3.41633C27.1984 -2.50514 42.11 2.80583 48.0315 15.2787L99.1789 123.015L152.685 14.9108C156.885 6.42402 165.52 1.03894 174.99 1.00068C184.459 0.962424 193.137 6.27755 197.406 14.7301L253.03 124.865L308.654 14.7301C312.923 6.27755 321.601 0.962424 331.07 1.00068C340.539 1.03894 349.174 6.42402 353.375 14.9108L429.755 169.23C435.88 181.605 430.814 196.601 418.439 202.726C406.065 208.851 391.068 203.784 384.944 191.41L330.743 81.9027L275.345 191.591C271.093 200.011 262.463 205.32 253.03 205.32C243.597 205.32 234.967 200.011 230.714 191.591L175.316 81.9027L121.116 191.41C116.867 199.995 108.085 205.398 98.5057 205.319C88.9265 205.241 80.2344 199.696 76.126 191.042L2.86317 36.7222C-3.0583 24.2494 2.25267 9.3378 14.7256 3.41633Z"
                fill="black"
              />
            </svg>
          </a>
        <nav id="nav">
          <h2>Table of contents</h2>
          <h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li>
              <a href="/feed/feed.xml"
                ><abbr title="Real Symple Syndication"></abbr>RSS</abbr></a
              >
            </li>
            <li>
              <a href="/feed/feed.xml"
                ><abbr title="JavaScript Object Notation">JSON</abbr></a
              >
            </li>
          </ul></h3>
        </nav>
      </footer>
  </div>
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="left"></div>
  <div class="right"></div>
</div>









