---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h2>{{ title }}</h2>
{%- if audio %}
<div><audio src="{{audio}}" controls></audio></div>
{%- endif %}
	<footer>
		<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<!-- <a href="{{ tagUrl | url }}">{{ tag }}</a> -->
{%- endfor %}
	</footer>

{{ content | safe }}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}

	<ul>
		{%- if nextPost %}
		<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
		{%- if previousPost %}
		<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	</ul>
{%- endif %}
